@charset "UTF-8"; 

/*..............................................................................................................
...............................................CSS Document coded by............................................
...............................................Engr. Bambi Corro III............................................
.........................................Hive&Seek - bambi@hiveandseek.net......................................
..............................................................................................................*/


body {padding-bottom:40px; color:#5a5a5a; overflow-x:hidden;}
.btn-primary{background: #000; border-color: #000;}
.btn-primary:hover{background: #000;}
.btn-lg{font-size: 26px; padding: 14px 20px; text-shadow:1px 1px 2px #000;}

/*----- HEADER -----*/
header{margin: 10px 0;}
.navbar-wrapper {/*position:absolute; */top:0; left:0; right:0; z-index:10;}
.navbar{margin: 0; padding: 0;}
.navbar-brand{margin: 0; height: auto;}
.navbar-toggle .icon-bar {
  background: none repeat scroll 0 0 white;
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
}
.navbar-toggle {
  background-color: black;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  float: right;
  margin-bottom: 8px;
  margin-right: 15px;
  margin-top: 8px;
  padding: 9px 10px;
  position: relative;
}
.navbar-inverse .navbar-nav > li > a {color: #000;}
.navbar-inverse .navbar-nav > li > a:hover {color: #000;}
.navbar-nav, .navbar-header{margin:0px;}
.navbar-nav, .navbar-toggle{margin-top: 20px;}


/*----- Carousel -----*/
.carousel {margin-bottom:60px;}
.carousel-caption {z-index:1;}
.carousel .item {height:600px; background-color:#555;}
.carousel img {position:absolute; top:0; left:0; min-height:600px;}
.carousel-caption{padding:100px 0 0; left: auto; right: auto; bottom: auto; top: auto; position: relative; text-align:left;}


/*----- HIGHLIGHT -----*/
.highlight-divider {margin:80px 0;}
.highlight {padding-top:20px; overflow:hidden;}
.highlight-image {margin-top:-20px; padding-bottom: 20px;}
.highlight-image.pull-left {margin-right:40px;}
.highlight-image.pull-right {margin-left:40px;}
.highlight-heading {font-size:50px; font-weight:300; line-height:1; letter-spacing:-1px;}


/*----- BANNER -----*/
.banner{height: 405px; background:url(../images/bcg_woodentable.jpg) no-repeat top center; color:#fff; margin: 100px 0; text-shadow:1px 1px 4px #000;}
.banner .container{position: relative; height: 100%;}
.banner blockquote{border: none; padding: 0; margin: 80px 0 0 0; font: italic 30px Georgia; margin-bottom: 10px;}
.banner p{color: #fff;}
.banner .btn{margin-top: 20px;}
.ipad_slant_banner{display: block; width: 783px; height: 381px; position: absolute; bottom: 0; right: -100px; background: url(../images/img_ipadslant_banner.png) no-repeat top right;}

/*----- MEDIA QUERIES -----*/
/* Extra Small devices (mobile phones - landscape, 480px and up) */
@media (min-width:480px) {

}

/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {
/* Remve the edge padding needed for mobile */
.marketing {  padding-left:0;   padding-right:0; }
/* Navbar positioning foo */
.navbar-nav{float:right; }.navbar-nav > li > a{border-radius:5px; }
/* Bump up size of carousel content */.carousel-caption p {  margin-bottom:20px;   font-size:21px;   line-height:1.4; }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width:1200px) {

}


.navbar-inverse{background:none;  border:none; }