@charset "UTF-8"; 

/*Futureed Custom DataTable Design*/
.price-action{
	position: relative;
  	bottom: 10px;
}
.dataTables_wrapper > .row > .col-sm-6 > .dataTables_filter{
	display: none;
}
.dataTables_wrapper > .row > .col-sm-6{
	float: right;
}
.dataTables_wrapper > .row > .col-sm-6 > .dataTables_length{
	float: right;
}
.table-container{
	padding: 0 30px 0 30px;
	margin-bottom: 30px;
}
th, td {
	text-align: center;
	color: #055a7f;
	vertical-align: middle !important;
}
thead{
	background-color: #eeeeee;
}
.dataTables_wrapper > .row > .col-sm-12{
	border: 1px solid;
	border-color: #cccccc;
  	border-radius: 5px;
  	padding: 0;
}
table#client-list{
	margin:0 !important;
}
.row > .col-sm-5{
	display: none;
}
.row > .col-xs-3{
	position: relative;
	bottom: 10px;
}

.title-mid{
	 text-transform: uppercase;
  	color: #055A7F;
  	font-size: 1.5em;
  	margin: 20px 0 20px 0;
}
.col-action{
	padding-right: 5px;
	padding-left : 5px;
	float: left;
}
.separator{
	margin:0 2px 0 2px;
	float: left;
}
.search-container{
	padding:15px 30px 30px 30px;
	color: #887c70;
}
.mid-container{
	margin-left:15px;
	margin-right: 15px;
}

.title-mid {
	text-transform: uppercase;
  	color: #055A7F;
  	font-size: 1.5em;
  	margin: 20px 0 20px 0;
}

.search-container {
	padding:15px 30px 30px 30px;
	color: #887c70;
}

.form-search,.table-form{
	border: 1px solid #e1e1e1;
  	border-radius: 5px;
  	padding: 30px;
  	background-color: #f6f4f5;
}

.table-container{
	padding: 0 30px 0 30px;
	margin-bottom: 30px;
}

.success-container {
	padding: 30px 30px 0px 30px;
}

.margin-side{
	margin: 0 30px 0 30px;
}

.padding-30{
	padding: 30px;
}
.margin-top-60{
	margin-top: 60px;
}

.div-right{
	float:right;
}
.margin-10-bot{
	margin-bottom: 10px;
}
.margin-30-bot{
	margin-bottom: 30px;
}
.btn-semi-large{
	width: 50%;
}
.margin-30-left{
	margin-left: 30px;
}
.margin-60-left{
	margin-left: 60px;
}
.margin-30-top{
	margin-top: 30px;
}
.margin-30-top{
	margin-top: 30px;
}
.margin-30-left{
	margin-left: 30px;
}

.margin-60-left{
	margin-left: 60px;
}
.margin-0-top{
	margin-top: 0 !important;
}
