@charset "UTF-8"; 

.navbar-nav > li > a {
	padding-top: 5px;
	padding-bottom: 5px; 
}

.nav-label {
	color: #055A7F;
    padding: 3px 0px;
    margin: 10px;
    font-size: 20px;
    text-transform: capitalize;
}

.nav-dropdown-menu {
	margin-top: 15px !important;
	color: #055A7F !important;
	border-radius: 5px !important;
	border-color: #cccccc;
}

.nav-dropdown-menu:after, .nav-dropdown-menu:before  {
	bottom: 100%;
	left: 151px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.nav-dropdown-menu:after {
	border-bottom-color: #ffffff;
    border-width: 10px;
    margin-left: 128px;
}

.nav-dropdown-menu:before {
	border-bottom-color: #cccccc;
    border-width: 12px;
    margin-left: 125px;
}

.nav-dropdown a {
	padding: 10px 15px !important;
    color: #055A7F !important;
}

.nav-image-holder {
	border-radius: 50%;
    width: 50px;
    margin: 0px 5px;
}

.nav-icon-holder {
	float: left;
    background-color: #F3D94F;
    border-radius: 50%;
    position: absolute;
    width: 45px;
    left: -5px;
    top: -6px;
}

.nav-points-rewards, .nav-points-rewards:hover {
	background-color: #055A7F !important;
    color: #ffffff !important;
    border-radius: 20px;
    border: 1px solid #055A7F;
    width: 100px;
    min-height: 34px;
    text-align: right;
    margin: 10px;
    padding: 5px 15px 5px 7px;
}

.ul-left {
	margin-left: 30px;
}

.sidebar {
    -moz-transition: ease 1s;
    -webkit-transition: ease 1s;
    -o-transition: ease 1s;
    transition: ease 1s;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
    width: 350px;
    background-color: #433d3d;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: -350px;
    overflow-y: scroll;
    overflow: auto;
    float: left;
}

.sidebar-div a {
	color: #FFFFFF;
	cursor: pointer;
	text-decoration: none;
}

.slide-out {
    -moz-transition: ease 1s;
    -webkit-transition: ease 1s;
    -o-transition: ease 1s;
    transition: ease 1s;
    left: 0px;
}

.div-out {
	-moz-transition: ease 1s;
    -webkit-transition: ease 1s;
    -o-transition: ease 1s;
    transition: ease 1s;
    left: 350px !important;
}

.side-btn-toggle {
	-moz-transition: ease 1s;
	-webkit-transition: ease 1s;
	-o-transition: ease 1s;
	transition: ease 1s;
	-webkit-transition: 1s ease;
	-moz-transition: 1s ease;
	-ms-transition: 1s ease;
	-o-transition: 1s ease;
	transition: 1s ease;
	left: 0px;
	position: fixed;
	top: 50%;
	cursor: pointer;
	z-index: 9999;
}

.sidebar-toggle {
	position: absolute;
	top:59px;
	z-index: 9999;
}

.side-header {
	padding: 10px;
}

.tips-img-header {
	position: relative;
	width: 260px;
}

.help-img-header {
	position: relative;
	width: 260px;
}
.tips-text-overlay {
	position: absolute; 
	top: 18px; 
	left: 70px; 
	width: 100%;
	font-size: 20px; 
}
.help-text-overlay {
	position: absolute; 
	top: 405px; 
	left: 70px; 
	width: 100%;
	font-size: 20px; 
}
.send-behind {
	z-index: -1;
}

.div-side-content {
	background-color: #524e4d;
	padding: 10px;
	border-radius: 4px;
}

.div-side-content p {
	margin: 0px;
}

.sidebar-div {
	padding: 10px 15px 10px 10px;
}

.side-title {
	color: #ffffff;
	margin: 0;
}
.user-detail-star {
	margin-bottom: 5px;
}

.user-detail {
	margin: 0;
	font-size: 12px;
}

.side-btn-container {
	margin-top: 10px;
	padding: 0 15px 0 10px;
	margin-bottom: 20px;
}

.submit-btn-tips, .submit-btn-help {
	padding: 0;
}

.tip-btn-container {
	margin-top: 10px;
}
.btn-left {
	padding-left: 0;
	padding-right: 10px;
}

.btn-right {
	padding-right: 0;
	padding-left: 10px;
}
.margin-top-50 {
	margin-top: 50px;
}

.student-link {
	color: #ffffff;
}

.student-link:hover {
	color: #ffffff;
} 


.label-side {
	text-align: center !important;
	display: block;
	font-size: 14px;
	color: #ffffff;
}
.sidebar-input {
	background-color: #524e4d !important;
	border: none !important;
	color: #ffffff;
}

.sidebar-input:hover {
	background-color: #524e4d !important;
	border: none !important;
	color: #ffffff;
}

.side-btn {
	margin-bottom: 10px;
}

.row {
	margin: 0;
}
.alert-success{
	margin-left: 0 !important;
}
.container-bottom {
	margin-bottom: 20px;
}
.center-div {
	position: absolute;
	top: 50%;
}

.center-div:hover {
	cursor: pointer;
}
.flip-horizontal {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);

	-moz-transition: ease 1s;
    -webkit-transition: ease 1s;
    -o-transition: ease 1s;
    transition: ease 1s;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;

	filter: FlipH;
	-ms-filter: "FlipH";
}

.form-search{
	border: 1px solid #e1e1e1;
  	border-radius: 5px;
  	padding: 30px;
  	background-color: #f6f4f5;
}

.search-container{
	padding:15px 30px 30px 30px;
	color: #887c70;
}

.search-container textarea {
	resize: none;
}

.table-container{
	padding: 0 30px 0 30px;
	margin-bottom: 30px;
}

.mid-container{
	margin-left:15px;
	margin-right: 15px;
}

.title-mid{
	text-transform: uppercase;
  	color: #055A7F;
  	font-size: 1.5em;
  	margin: 20px 0 20px 0;
}

th, td {
  text-align: center;
  color: #055a7f;
  vertical-align: middle !important;
}

.rating-container {
	padding: 5px;
	width: 240px;
	text-align: center;
	border-radius: 5px;
}

.rating-container span {
	padding: 0px 5px;
}

.rating-container span img {
	width: 25px;
}

.text-container {
	word-wrap: break-word;
	max-height: 110px;
	overflow-y: scroll;
}

.avatar-container-small img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 3px solid #e1e1e1;
	background-color: #ffffff;
}

.avatar-name-container {
	margin: 30px 5px;
}

.sticky-bottom {
	position: absolute;
	bottom: 0px;
	padding: 35px 50px 35px 0px;
}

.success-container {
	padding: 30px 30px 0px 30px;
}

#lsp_panel.panel {
	margin-bottom: 0;
}

#lsp_panel .row {
	margin-right: -15px;
	margin-left: -15px;
}

#lsp_panel h6 {
	font-size: 16px;
}

#lsp_panel #section_header {
	font-size: 24px;
	font-weight: 400;
	padding: 20px;
	text-align: center;
}

#lsp_panel #section_header > div {
	font-size: 13px;
	margin-top: 3px;
}

#lsp_panel .panel-body {
	min-height: 480px;
	padding: 15px 20px;
}

#lsp_panel .modern-paginator a.page-number {
	background: #ddd;
	border: 1px solid #dadada;
	border-radius: 16px;
	color: #a6a6a6;
	display: block;
	font-size: 11px;
	font-weight: 100;
	line-height: 16px;
	padding: 6px 0;
	height: 32px;
	width: 32px;
	vertical-align: middle;
}

#lsp_panel ul.answer_groups {
  margin: 0 -30px;
}

#lsp_panel .modern-paginator a.page-number:hover {
	text-decoration: none;
}

#lsp_panel .modern-paginator .active .page-number {
	background: #34495e;
	border: 1px solid #e5e5e5;
	color: #fff;
}

#lsp_panel ul.answers, #lsp_panel ul.answer_groups {
	list-style: none;
	padding-left: 0;
}

#lsp_panel .question {
	margin-bottom: 30px;
}

#lsp_panel ul.answers li {
	  margin-bottom: 10px;
}

#lsp_panel ul.answers li a:hover,
#lsp_panel ul.answers li a:active,
#lsp_panel ul.answers li a:visited,
#lsp_panel ul.answer_groups li a:hover,
#lsp_panel ul.answer_groups li a:active,
#lsp_panel ul.answer_groups li a:visited {
	  text-decoration: none;
}

#lsp_panel ul.answer_groups li {
	display: inline-block;
	margin: 0;
	padding: 0 22px 0 30px;
	text-align: left;
}

#lsp_panel ul.answers li:last-child, #lsp_panel ul.answer_groups li:last-child {
	margin-bottom: 0px;
}

#lsp_panel #percentage {
	margin: -15px -5px 0;
}

#lsp_panel #percentage .progress {
	background: #d4e5e2;
	border-radius: 0;
	height: 5px;
	margin-bottom: 0;
	width: 100%;
}

#lsp_panel #percentage .progress-labels {
	display: block;
	margin: 3px 0 0;
	padding: 0 5px;
	width: 100%;
}

#lsp_panel #percentage .percent-text.zero {
	padding-right: 5px;
	float: left;
}

#lsp_panel #percentage .percent-text.hundred {
	padding-left: 5px;
	float: right;
}

.answers-cancel {
	margin: 30px 45px !important;
}

.answers-container {
	max-height: 680px;
	overflow: auto;
}

.notice {
	color: #A92147;
}

.unrated-star {
	opacity: .5;
}

.top-10 {
	position: relative;
	bottom: 10px;
} 

.tip-help-container {
	background-color: #055A7F;
	color: #FFFFFF;
	border-radius: 5px;
	padding: 5px;
}

.module-wrapr {
	width: 100%;
	min-height: 900px;
	position: relative;
	overflow: hidden;
	margin-bottom: 40px;
}

.margin-top-30{
	margin-top: 30px;
}

.breadcrumb {
	color: #055A7F;
    font-size: 1.3em;
    background-color: rgba(255, 255, 255, .3);
}

.margin-top-bot-5{
	margin-top: 5px;
	margin-bottom: 5px;
}

.margin-top-bot-10{
	margin-top: 10px;
	margin-bottom: 10px;
}

/*bottom toggle*/
.drawer {
	position: fixed;
	bottom: 0;
	z-index: 3;
}

.drawer-help {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 3;
}

.button {
	height: 65px;
	text-align: end;
	margin-right: 25px;
}

.flip-90{
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.flip-270{
	-ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
}

.drawer-appear{
	clear: both;
}
.drawer-inside {
	height: 60px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #433d3d;
    transition: height .4s ease;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.openup {
	height: 500px;
    transition: height .7s ease;
    overflow: auto;
}

.footer {
	z-index: -1;
}

.pointer {
	cursor: pointer;
}

.img-100{
	width: 100%;
}

.margin-top-15 {
	margin-top: 15px;
}

.margin-top-5 {
	margin-top: 5px;
}

.drawer-header {
	background-color: #f4d859;
}

.nav-pills>li>a {
	font-size: 14px;
}

.active>.pill-grey {
	background-color: #504c4c !important;
}

.active>.pill-grey:hover {
	background-color: #504c4c;
}

.pill-grey {
	color: #ffffff;
}

.pill-grey:hover {
	background-color: #504c4c !important;
	color: #ffffff;
}

.pill-gold {
	color: #ffffff;
}

.pill-gold:hover {
	background-color: #d3bf49 !important;
	color: #ffffff;
}

.active > .pill-gold {
	background-color: #d3bf49	 !important;
}

.nav-gold>a:hover {
	background-color: #d3bf49	 !important;
}

.content-box {
	background-color: #504c4c;
	color: #989494;
}

.list-title {
	margin-left: 10px;
	margin-right: 10px;
}

.list-container {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.content-box > a {
	color: #ffffff;
}

.content-box > a:hover {
	color: #ffffff;
	text-decoration: none;
}

.help-container > h3 {
	margin-left: 15px;
	margin-bottom: 0;
}

.row > p{
	margin-left: 15px;
	font-size: 14px;
}

.toggle-input {
	background-color:  #3d3d3d !important;
	border-color: #3d3d3d !important;
}

.help-container {
	margin: 15px;
	border-radius: 5px;
	border: 1px solid #838181;
}

hr {
	border: 0;
	border-top: 1px solid #a19c9c;
	margin: 15px;
}

.row > h4 {
	margin-left: 15px;
	margin-right: 15px;
}

.no-record-label {
	border: 1px solid rgba(255, 255, 255, .5);
	border-radius: 5px;
	padding: 20px;
	background-color: rgba(255, 255, 255, .4);
	text-align: center;
}

.module-wrapper {

}

.module-search {
	padding: 15px 30px 30px 30px;
	width: 90%;
	margin: auto;
}

.module-list {
	padding: 10px;
	background-color: rgba(255, 255, 255, .3);
	border-radius: 10px;
}

.module-item {
	margin: 25px;
	display: inline-block;
	text-align: center;
	width: 15%;
}

.module-icon, .locked-module-icon {
	border-radius: 50%;
	width: 120px;
	transition: ease-out .1s;
	background-color: #ffffff;
	padding: 10px;
}

.module-icon:hover {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	width: 140px;
	margin: -10px;
	transition: ease-out .1s;
	cursor: pointer;
}

.module-image-holder {
	min-width: 130px;
}

.tooltip.module-tooltip .tooltip-inner {
	background-color: rgba(005, 090, 127, .8);
	padding: 10px;
	margin: 10px;
	box-sizing: border-box;
	font-family: 'Schoolbell', sans-serif;
	min-width: 143px;
}

.tooltip.module-tooltip .tooltip-arrow {
	display: none;
}

.tooltip.module-tooltip:before {
	border-color: rgba(005, 090, 127, .8);
	border-top-color: #F9EFB7;
	border-width: 320px;
    margin-left: -15px;
}

.tooltip.module-tooltip:after {
	border-color: rgba(005, 090, 127, .8);
    border-top-color: #EBE3B4;
    border-width: 300px;
    margin-left: -10px;
}

.module-name {
	padding: 10px 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 40px;
    font-size: 17px;
    color: #055A7F;
    max-width: 143px;
}

.module-btn {
	text-transform: capitalize;
	border-radius: 20px;
}

.module-btn i {
	padding-right: 5px;
	color: rgb(255, 244, 149);
}

.message-container {
	text-align: center;
    max-height: 650px;
    overflow: auto;
}

.module-message {
	position: relative;
    background: #EBE3B4;
    border: 1px solid #F9EFB7;
    border-radius: 5px;
    padding: 12px;
    width: 50%;
    margin: 20px auto 32px auto;
}

.module-message:after, .module-message:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.module-message:after {
	border-color: rgba(136, 183, 213, 0);
    border-top-color: #EBE3B4;
    border-width: 30px;
    margin-left: -10px;
    transform: skew(-58deg);
}
.module-message:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #F9EFB7;
	border-width: 32px;
    margin-left: -15px;
    transform: skew(-58deg);
}

.message-point {
	font-size: 5em;
    color: #055A7F;
}

.message-badge {
	width: 120px;
	background-color: #e1e1e1;
    border-radius: 50%;
}

.questions-container {
	background-color: #FFFFFF;
    min-height: 500px;
    border-radius: 5px;
    border: 5px solid #EEEEEE;
    padding: 0px 15px 15px 15px;
	min-width: 1000px;
}

.questions-header {
	background-color: #D5D5D5;
    min-height: 55px;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    padding-bottom: 10px;
}

.questions-image {
	margin: 90px 50px 20px 50px;
    text-align: center;
}

.questions-message {
	text-align: center;
    font-size: 2em;
    color: #055A7F;
    max-width: 75%;
    margin: auto;
    margin-bottom: 50px;
}

.questions-answers {
	width: 75%;
    margin: auto;
    text-align: center;
}

.questions-tips {
	margin: 36px auto;
    background-color: rgba(213, 213, 213, .3);
    padding: 20px;
    border-radius: 5px;
    font-size: 22px;
}

.questions-tips img {
	border-radius: 50%;
    width: 100px;
    margin: 5px 10px 5px 5px;
}

.choices {
	display: inline-block;
    width: 40%;
    text-align: center;
    background-color: #DFC010;
    border: 4px solid #F3D94F;
    border-radius: 5px;
    margin: 20px 30px;
    padding: 10px;
    color: #FEFEC4;
    text-decoration: none;
    font-size: 1.25em;
}

.choices:hover, .selected-choice
, .selected-choice:focus, .choices:focus {
    text-decoration: none;
    background-color: #F3D94F;
    color: #696969;
}

.selected-choice, .selected-choice:focus {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.contents-container {
	min-height: 500px;
    min-width: 1000px;
    padding: 0px 0px !important;
}

.content-pagination {
	position: absolute;
    right: 0;
}

.content-pagination > ul > li > a {
	font-size: 25px;
	min-width: 80px;
	text-align: center;
}

.questions-btn-container {
	
}

.next-btn {
	position: absolute;
    bottom: 0;
    width: 200px;
    right: -230px;
}

.exit-btn {
	position: absolute;
    top: 0;
    width: 200px;
    right: -230px;
}

.panel-student {
	border-color: #065a7f !important;
}

.panel-student > .panel-heading {
	color: #fff;
	background-color: #065a7f;
	border-color: #065a7f;
}

.badge-image {
	width: 150px;
	height: 150px;
}

.question-text-answer {
	width: 500px;
    margin: 10px auto;
}

.module-progress {
	color: #055A7F;
    text-align: center;
    position: absolute;
}

.progress {
	margin-top: 15px;
}

.ordered-list-container{
	min-height: 100px;
	border: 1px solid;
}

/* ************************************** */
/* Mandatory CSS required for ng-sortable */
/* ************************************** */
.as-sortable-item, .as-sortable-placeholder {
    display: block;
}

.as-sortable-item {
    -ms-touch-action: none;
    touch-action: none;
}

.as-sortable-item-handle {
	cursor: move;
    width: 500px;
    background-color: #DFC010;
    border: 4px solid #F3D94F;
    color: #FEFEC4;
    margin: 10px auto;
    padding: 20px;
    border-radius: 5px;
    font-size: 1.25em;
}

.as-sortable-placeholder {
}

.as-sortable-drag {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
    text-align: center;
}

.as-sortable-hidden {
    display: none !important;
}

.as-sortable-un-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}