@charset "UTF-8"; 

body.admin{
	background-color: #ededed;
	background-image: none;
	background-attachment: fixed;
}

.login-container {
	width: 500px;
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
}

.lock-logo{
	width:120px;
	margin:0 auto 30px;
}
.icon-lock{
	background:#e8e8e8;
	border-radius:200px;
	padding:20px;
	width:120px;
}

.col-md-4 > .form-style > form{
	margin-top: 10px;
}
.adlogin-title{
	text-transform: uppercase;
	color: #055a7f;
	font-weight: bold;
	margin: 5px auto;
	font-size: 1.1em;
}
.forgot-message{
	font-weight: 100;
	margin-top: 20px;
}

.navbar-collapse > .navbar-nav > li > p {
	padding-top: 15px;
}
.row-admin{
	border-top: 1px solid #0F799D;
}
div > .nav-list > li > a{
	position: relative;
  	font-size: 1.1em;
  	padding: 15px 0 15px 30px;
}
.nav-list{
	margin-bottom: 0;
}

.client-content > .col-xs-12 > .title-mid{
	margin: 0 0 0 15px;
  	text-transform: none;
}
.form-search{
	border: 1px solid #e1e1e1;
	border-radius: 5px;
	padding: 15px;
	background-color: #f6f4f5;
}
.search-container{
	padding: 0px 30px 15px 30px;
	color: #887c70;
}
.mid-container{
	margin-left:15px;
	margin-right: 15px;
}

.admin-table{
	margin-top: 0 !important;
}
.form-group > .col-xs-5 > .form-control{
	width: 100%;
}
.form-search > .form-inline > .form-group{
	margin: auto;
	display: flex;
}
.admin-setting{
	font-size: 1.1em;
  	color:	 white;
  	padding: 15px 0 15px 30px;
}
.announce{
	font-size: 13px;
}
.subtitle-content{
	font-size: 1.4em;
  	color: #03658A;
  	border-bottom: 1px solid #dcdcdc;
}
.legend-announce{
	border:none !important;
}
.col-xs-10{
	margin-top: 10px;
}
.announce-label{
	color: #857a0d;
	text-transform: uppercase;
	font-weight: 500; 
}

.col-xs-10 > .btn-container{
	margin-top: 30px;
}

.row > .announce-label{
	margin-top: 20px;
}

.manage-container{
	border-top: 1px solid #0F799D;
	border-bottom: 1px solid #0F799D;
}

.side-nav-li{
	border-bottom: 1px solid #0F79A3;
}

.add-price , .price-form, .price-list, .edit-price, .add-bulk, .bulk-form, .add-admin, .top-margin{
	margin-top: 30px;
}
.add-admin{
	z-index: 9999;
}
.col-action{
	padding-right: 5px;
	padding-left : 5px;
	float: left;
}
.separator{
	margin:0 2px 0 2px;
	float: left;
}
.col-xs-6 > .form-style{
	box-shadow: none;
}
.admin-edit{
	position: relative;
  	bottom: 33px;
  	left: 280px;
  	z-index: 9999;
}

.margin-30-top{
	margin-top: 30px;
}
.top-10 {
	position: relative;
	top: 10px;
}
/*Futureed Custom DataTable Design*/
.price-action{
	position: relative;
  	bottom: 10px;
}
.dataTables_wrapper > .row > .col-sm-6 > .dataTables_filter{
	display: none;
}
.dataTables_wrapper > .row > .col-sm-6{
	float: right;
}
.dataTables_wrapper > .row > .col-sm-6 > .dataTables_length{
	float: right;
}
.table-container{
	padding: 0 30px 15px 30px;
}
.width-200 {
	width: 200px;
}
th, td {
	text-align: center;
	color: #055a7f;
	vertical-align: middle !important;
}
th {
	border-top: none !important;
}
thead{
	background-color: #eeeeee;
}
.dataTables_wrapper > .row > .col-sm-12{
	border: 1px solid;
	border-color: #cccccc;
  	border-radius: 5px;
  	padding: 0;
}
table#client-list{
	margin:0 !important;
}
.row > .col-sm-5{
	display: none;
}

.td-fix{
	word-wrap:break-word;
	max-width: 200px;
}
.table-action{
	min-width: 250px;
}

.center-err {
	text-align: center;
}

.img-input {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	filter: alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity:0 ;
	background-color: transparent;
	color: transparent; 
}

.margin-top-5 {
	margin-top: 5px;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

input[type=checkbox],input[type=radio]{opacity:0;position:absolute;z-index:12;width:18px;height:18px;}
input[type=checkbox]:checked,input[type=radio]:checked,input[type=checkbox]:focus,input[type=radio]:focus{outline:none !important;}
input[type=checkbox]+.lbl,input[type=radio]+.lbl{position:relative;z-index:11;display:inline-block;margin:0;line-height:20px;min-height:14px;min-width:14px;font-weight:normal;}
input[type=checkbox]+.lbl.padding-16::before,input[type=radio]+.lbl.padding-16::before{margin-right:16px;}
input[type=checkbox]+.lbl.padding-12::before,input[type=radio]+.lbl.padding-12::before{margin-right:12px;}
input[type=checkbox]+.lbl.padding-8::before,input[type=radio]+.lbl.padding-8::before{margin-right:8px;}
input[type=checkbox]+.lbl.padding-4::before,input[type=radio]+.lbl.padding-4::before{margin-right:4px;}
input[type=checkbox]+.lbl.padding-0::before,input[type=radio]+.lbl.padding-0::before{margin-right:0px;}
input[type=checkbox]+.lbl::before,input[type=radio]+.lbl::before{font-family:fontAwesome;font-weight:normal;font-size:11px;color:#2091cf;content:"\a0";background-color:#FAFAFA;border:1px solid #CCC;box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);border-radius:0;display:inline-block;text-align:center;vertical-align:middle;height:13px;line-height:13px;min-width:13px;margin-right:1px; margin-top: -5px;}
input[type=checkbox]:checked+.lbl::before,input[type=radio]:checked+.lbl::before{display:inline-block;content:'\f00c';background-color:#F5F8FC;border-color:#adb8c0;box-shadow:0 1px 2px rgba(0, 0, 0, 0.05),inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),inset 15px 10px -12px rgba(255, 255, 255, 0.1);}
input[type=checkbox]:hover+.lbl::before,input[type=radio]:hover+.lbl::before,input[type=checkbox]+.lbl:hover::before,input[type=radio]+.lbl:hover::before{border-color:#1c7aad;}
input[type=checkbox]:active+.lbl::before,input[type=radio]:active+.lbl::before,input[type=checkbox]:checked:active+.lbl::before,input[type=radio]:checked:active+.lbl::before{box-shadow:0 1px 2px rgba(0, 0, 0, 0.05),inset 0px 1px 3px rgba(0, 0, 0, 0.1);}
input[type=checkbox]:disabled+.lbl::before,input[type=radio]:disabled+.lbl::before,input[type=checkbox][disabled]+.lbl::before,input[type=radio][disabled]+.lbl::before,input[type=checkbox].disabled+.lbl::before,input[type=radio].disabled+.lbl::before{background-color:#DDD !important;border-color:#CCC !important;box-shadow:none !important;color:#BBB;}
input[type=radio]+.lbl::before{border-radius:32px;font-family:Arial,Helvetica,sans-serif;font-size:36px;}
input[type=radio]:checked+.lbl::before{content:"\2022";}

.success-container {
	padding: 0px 30px;
}

.panel-heading {
	cursor: pointer;
}

.tab {
	margin-bottom: -2px !important;
	min-width: 150px;
	text-align: center;	
}

.modal-image {
	min-height: 500px;
}

.modal-image img {
	max-height: 400px;
	margin: auto;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

.margin-top-5 {
	margin-top: 5px;
}

.top-5 {
	position: relative;
	top: 5px;
}

.top-40 {
	position: relative;
	top: 40px;
}

.nav-admin {
	margin: 0px 23px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 17px;
}

.panel-body > .nav-admin {
	margin-left: 0px;
	margin-right: 0px;
}

.nav-admin li {
	min-width: 133px;
	text-align: center;
}

.nav-admin li a {
	border-radius: 0px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background-color: #EEEEEE;
}

.nav-admin li a:hover {
	text-decoration: none;
    color: #ffffff;
    background-color: #337ab7;
}

.navbar-default .navbar-nav > li > a {
    min-width: 100px;
    text-align: center;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #777;
}

.dropdown .dropdown-menu-medium {
	min-width: 0px; /*Overriding parent */
	width: 30%;
}

.import-container {
	padding: 0px 30px 15px 30px;
	color: #887c70;
}

.form-import {
	border: 1px solid #e1e1e1;
	border-radius: 5px;
	padding: 15px;
	background-color: #f6f4f5;
}

.form-import > .form-inline > .form-group{
	margin: auto;
	display: flex;
}

.cursor-pointer {
	cursor: pointer;
}

.imprt-err {
	color : #843534;
}

.imprt-err-msgs {
	padding-left: 10px;
}

div div.invoice-btn {
	padding-left: 0px;
}

div.add-subject div.checkbox,
div.add-subject div.checkbox label,
div.add-grade div.checkbox,
div.add-grade div.checkbox label,
div.form-group div.search-admin,
div.admin-view-admin div.checkbox,
div.form-group div.admin-search-client,
div.admin-view-client-details div.checkbox,
div.admin-view-client-details div.checkbox label,
div.form-group div.admin-search-student,
div.admin-view-student-form div.checkbox,
div.admin-view-student-form div.checkbox label,
div.admin-view-subject-details div.checkbox,
div.admin-view-subject-details div.checkbox label,
div.admin-view-subject-area-details div.checkbox,
div.admin-view-subject-area-details div.checkbox label,
div.admin-view-grade-details div.checkbox,
div.admin-view-grade-details div.checkbox label,
div.form-group div.admin-search-grade,
div.form-group div.admin-search-module,
div.form-group div.admin-search-module-content,
div.admin-view-module-details div.checkbox,
div.admin-view-module-details div.checkbox label,
div.form-group div.admin-search-security,
div.form-group div.admin-search-admin-log,
div.form-group div.admin-search-admin-user,
div.form-group div.admin-tips-list,
div.form-group div.admin-help-list,
div.form-group div.admin-help-answer-list
{
	padding-left: 0px;
}

div.admin-view-module-content {
	width: 28%;
	padding-left: 0px;
}

div.admin-search-module-content {
	width: 19%;
}

.font-size-16 {
	font-size: 16px !important;
}

/* Module - Questions Preview - styles */
.questions-container {
	background-color: #FFFFFF;
	border-radius: 5px;
	border: 5px solid #EEEEEE;
	width: 100%;
	height: 49em;
}
@-moz-document url-prefix() {
	.questions-container {
		background-color: #FFFFFF;
		border-radius: 5px;
		border: 5px solid #EEEEEE;
		width: 100%;
		max-height: 43em;
		min-height: 43em;
	}
}

.questions-header {
	background-color: #D5D5D5;
	min-height: 55px;
	position: absolute;
	right: 0;
	left: 0;
	text-align: center;
	padding-bottom: 0px;
	width: 100%;
}

.questions-image {
	margin-top: 25px;
	text-align: center;
}

.questions-image img {
	width: 325px;
	max-height: 300px;
	border-radius: 10px;
}

.answer-image {
	width: 325px;
	max-height: 300px;
	border-radius: 10px;
}

.questions-message {
	font-size: 1.68em;
	color: #055A7F;
	max-width: 75%;
	margin: 10px auto;
}

.questions-answers {
	width: 75%;
	margin: auto;
	text-align: center;
	margin-bottom: 30px;
}

.questions-tips {
	background-color: rgba(213, 213, 213, .3);
	padding: 10px;
	border-radius: 5px;
	font-size: 1.68em;
}

.question-tip-pos-top-10 {
	position: relative;
	top: 10px;
}

.question-tip-pos-top-130 {
	position: relative;
	top: 130px;
}

.question-correct-answer {
	color: #055A7F;
	text-align: right;

}

/* Mandatory CSS required for ng-sortable */
.as-sortable-item, .as-sortable-placeholder {
	display: block;
}

.as-sortable-item {
	-ms-touch-action: none;
	touch-action: none;
}

.as-sortable-item-handle {
	cursor: move;
	width: 500px;
	background-color: #DFC010;
	border: 4px solid #F3D94F;
	color: #FEFEC4;
	margin: 10px auto;
	padding: 13px 10px 13px 10px;
	border-radius: 5px;
	font-size: 1.25em;
}

.as-sortable-placeholder {
}

.as-sortable-drag {
	position: absolute;
	pointer-events: none;
	z-index: 9999;
	text-align: center;
}

.as-sortable-hidden {
	display: none !important;
}

.as-sortable-un-selectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*graph*/
.origin-container {
	border:none !important;
	width: 50px;
}

.origin {
	width: 50px;
	margin: 0 auto;
}

.origin img {
	width: 50px;
}

.drop{
	border:1px solid #ddd;
	height:50px;
	width: 50px;
	padding:0 !important;
}

.reset-graph{
	padding:0px;
	margin-top:20px;
}

.next-btn {
	position: absolute;
	top: 12px;
	right: 15px;
	width: 200px;
	height: 40px;
	font-size: 1.5em;
}

li.questions-answers > a, li.questions-answers div {
	margin-bottom: 30px;
}

.choices {
	display: inline-block;
	width: 40%;
	text-align: center;
	background-color: #DFC010;
	border: 4px solid #F3D94F;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	color: #FEFEC4;
	text-decoration: none;
	font-size: 1.25em;
}

.choices img{
	max-height: 88px;
	max-width: 150px;
	margin: 2px 2px 2px -4px;
}

.choices:hover, .selected-choice
, .selected-choice:focus, .choices:focus {
	text-decoration: none;
	background-color: #F3D94F;
	color: #696969;
}

.selected-choice, .selected-choice:focus {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.fib-text-fields input {
	display: inline-block;
	width: 200px;
	margin: 15px;
}

@media only screen and (max-height: 680px) and (max-width: 1390px) {
	.questions-container {
		background-color: #FFFFFF;
		border-radius: 5px;
		border: 5px solid #EEEEEE;
		width: 100%;
		overflow: auto;
		max-height: 37.5em;
		min-height: 37.5em;
	}

	@-moz-document url-prefix() {
		.questions-container {
			background-color: #FFFFFF;
			border-radius: 5px;
			border: 5px solid #EEEEEE;
			width: 100%;
			overflow: auto;
			max-height: 37.5em;
			min-height: 37.5em;
		}
	}
}

.btn-nav-group {
	margin-right: 5px;
}

.btn-nav-group > a.btn-nav {
	text-decoration: none;
	border: 1px solid #eee;
	padding: 3px;
	float: none !important;
	display: inline !important;
	font-size: 22px;
    color: #055A7F;
    cursor: pointer;
	border-radius: .5rem;
	margin-right: -1px;
}

.btn-nav-group > a.btn-nav:first-child:not(:last-child) {
	border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.btn-nav-group > a.btn-nav:last-child:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.correct-answer-text {
	background: #eee;
	padding: 5px 15px;
	text-decoration: underline;
    border-radius: 50px;
}

.preview-tools {
	margin-right: 15px;
}

.preview-note {
	margin: 10px 8px;
	text-align: center;
	font-size: 14px;
}

/* Answer explanations - styles - start */
.result-message {
    margin: 20px 40% 40px 40%;
    padding: 5px;
    border-radius: 5px;
    font-size: 22px;
    width: 25%;
    text-align: center;
}

.result-message h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.message-container {
	text-align: center;
	max-height: 650px;
	overflow: auto;
	padding: 10px;
}

.quote-message-obtuse {
	position: relative;
	padding: 15px;
	margin: 0 0 15px 15px;
	color: #055a7f;
	background: #EBE3B4;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.quote-message-obtuse:before {
	content:"";
	position:absolute;
	bottom:-20px;
	left:60px;
	border:0;
	border-right-width:30px;
	border-bottom-width:20px;
	border-style:solid;
	border-color:transparent #EBE3B4;
	border-right-color: #EBE3B4;
	display:block;
	width:0;
}

.quote-message-obtuse:after {
	content:"";
	position:absolute;
	bottom:-20px;
	left:80px;
	border:0;
	border-right-width:10px;
	border-bottom-width:20px;
	border-style:solid;
	border-color:transparent #fff;
	border-right-color: #EBE3B4;
	display:block;
	width:0;
}

.quoted-tip img {
	width: 300px;
	margin: 0 0 20px 55px;
}

.quoted-tip p {
	text-align: left;
	width: 350px;
}

.quoted-avatar {
	margin-left: 70px !important;
}

.tip-result-message {
    padding: 10px;
    font-size: 24px;
    text-align: center;
    width: 70%;
    border-radius: .6em;
    margin: 0 0 0 55px;
}

.result-correct {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.result-incorrect {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.module-message {
	position: relative;
	background: #EBE3B4;
	border: 1px solid #F9EFB7;
	border-radius: 20px;
	padding: 15px;
	width: 85%;
	margin: 40px auto 20px auto;
	font-size: 1.5em;
	word-wrap: break-word;
	color: #055A7F;
}

.module-message:before {
	right: 100%;
	top: 50%;
	border-right: solid transparent;
	border-left: solid transparent;
	border-bottom: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #EBE3B4;
	border-width: 23px;
	margin-top: -16px;
}

.module-message:after {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #EBE3B4;
	border-width: 18px;
	margin-top: -14px;
}

.proceed-btn-container .btn {
    margin: 5px auto;
    height: 50px;
    font-size: 16px;
}

.tip-content {
    text-align: left;
    width: 550px;
    margin: auto auto 10px 135px;
    padding-bottom: 0px;
}

.tip-icon, .tip-message {
	padding-left: 5px;
	display: table-cell;
	vertical-align: middle;
}

.tip-icon {
	padding: 5px;
	text-align: center;
}

.tip-icon img {
	width: 60px;
	margin: none !important;
}

.tip-message {
	padding-left: 20px;
}

.tip-message img {
	width: 250px;
	margin: 0 0 0 50px;
}

.tip-fa-icon {
    float: left;
    background: #eee;
    padding: 20px 25px;
    position: absolute;
    top: -12px;
    left: -45px;
    font-size: 50px;
    border-radius: 9em;
}
