@charset "UTF-8"; 

/*..............................................................................................................
...............................................CSS Document coded by............................................
...............................................Engr. Bambi Corro III............................................
.........................................Hive&Seek - bambi@hiveandseek.net......................................
..............................................................................................................*/


/*----- GENERAL -----*/
* {margin: 0; padding: 0;}
html{position: relative;}
body {
	height: 100%;
	background: url("../images/bg-option-1.jpg") no-repeat scroll right bottom / cover;
	background-attachment: fixed;
}
body.client{
	background: url("../images/bcg_triangle.svg") no-repeat scroll right bottom / cover;
	background-attachment: fixed;
}
body.student{
	background: url("../images/bg-option-1.jpg") no-repeat scroll right bottom / cover;
	background-attachment: fixed;
}
body {/*background: radial-gradient(transparent 50%, rgba(0, 0, 0, 0.3) 100%), linear-gradient(#d77a6b, #d2c09c 60%, #876d54);*/
  /*background: rgba(255,255,255,1); background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(242,242,242,1) 100%); background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(49%, rgba(255,255,255,1)), color-stop(100%, rgba(242,242,242,1))); background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(242,242,242,1) 100%); background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(242,242,242,1) 100%);adient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(242,242,242,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=1 );  */
  font: 16px 'Roboto', sans-serif; color: #8e8171; /*margin-bottom: 30px;*/}

/*----- TYPOGRAPHY -----*/
.thin { font-weight: 100; }
.bold { font-weight: bold; }

/*----- ALERTS -----*/
.alert_top{margin: 0 20px;}

/*----- WARNINGS -----*/
.error {
	margin: 10px 0;
	border: 1px solid #f7b9aa;
	background-color: #fbe7e1;
	min-height: 40px;
	border-radius: 3px;
	font-size: 15px;
	line-height: 40px;
	color: #e96e48; 
	text-align: center;
}

.error * { margin-bottom:  0;}


/*----- BUTTON -----*/
.btn {
	font-size: 16px;
	width: 100%;
	color: #fff;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: .02em;
	border-radius: 2px;
}
.btn:hover { color: #ccc; }
.btn-red {
	border-top: 1px solid #f2a690; 
	box-shadow: 0 0 0 1px #d04318, 0 3px 3px rgba(0, 0, 0, 0.3);
	background-color: #e75e34;
}
.btn-red:active {
	box-shadow: inset 0px 6px 21px 3px rgba(188,74,39,1);
	color: #fff;
} 
.btn-purple {
	background-color: #76487d;
	border-top: 1px solid #905e97; 
	box-shadow: 0 0 0 1px #613c66, 0 3px 3px rgba(0, 0, 0, 0.3);
}
.btn-purple:active {
	box-shadow: inset 0px 6px 21px 3px rgba(86,54,90,1);
	color: #fff;
}

/*----- FORM -----*/
.error * { margin-bottom:  0;}
.form-narrow {/*margin: 30px auto;*/ width: 350px; height: 420px; background: #fff; padding: 0 30px; box-sizing: border-box; border-radius: 5px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); position: relative; overflow: hidden;}
.form-wide {margin: 30px auto; width: 100%; background: #fff; padding: 0 30px; box-sizing: border-box; border-radius: 5px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); position: relative; overflow: hidden;}
.form-style { 
	text-align: center;
	min-height: 280px;
	opacity: .90;
	background: #fff; padding: 30px; box-sizing: border-box; border-radius: 5px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	margin-bottom: 40px;
}
.form-style small{
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 1.5;
	display: inline-block;
	padding: 0 50px;
}
.form-style .text-group {
	padding-top: 20px;
	text-align: center;
}
.form-style .title {padding-top: 10px; text-align: center; text-transform: uppercase; font-weight: 700; font-size: 18px; color: #8e8171;}
.form-style form { margin-top: 30px;}


.form-select-password { padding-bottom: 30px; text-align: center; }
.form-select-password.clearfix { min-height:450px; }
.form-select-password .btn { width: 70%; margin-top: 30px; line-height: 30px; }
.form-select-password .form_password .item { 
	text-align: center; 
	margin-bottom: 15px;
	transition: all .1s ease;      
}
.form-select-password .form_password .item:hover { 
	text-align: center; 
	margin-bottom: 15px;
	transform: scale(1.1);
}
.form-select-password .text {
	font-weight: normal;
	line-height: 1.5;
	padding: 0 20px 30px;
}
.form-select-password  small {
	display: inline-block;
	padding: 0 50px;	
	font-size: 14px;
	line-height: 1.5;
}

.form-select-password {  }
.form-select-password .btn-red { background-color: #e75e34; }
/*.form-select-password .btn-red:active { 
	box-shadow: 0 0 0 1px #d04318, 0 3px 3px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px 6px 21px 3px rgba(188,74,39,1);
}*/

.form-style form .submit, .btn-submit { border: none; background: linear-gradient(#ea704b, #e75e34); width: 100%; height: 44px; font-size: 17px; text-align: center; line-height: 44px; border-radius: 3px; color: #fff; border-top: 1px solid #f2a690; box-shadow: 0 0 0 1px #d04318, 0 3px 3px rgba(0, 0, 0, 0.3); position: relative; transition: color .1s; cursor: pointer;}
.form-style form .submit:focus,
.form-style form .submit:hover {background: linear-gradient(#eb7754, #e8653d);}
.form-style form .submit:active {border-top-color: transparent; background: #e2491a; color: #b93c16; text-shadow: 0 0.5px rgba(255, 255, 255, 0.4); box-shadow: 0 0 0 1px #d04318, inset 0 0 10px rgba(0, 0, 0, 0.1);}
.form-style form .submit:active:before {border-bottom: 1px solid rgba(255, 255, 255, 0.4); background-color: #de481a;}
/*
.form-style form .submit:before {content: ''; position: absolute; height: 20px; width: 20px; border-radius: 50%; background-color: #e65326; top: 12px; left: 62px;}
.form-style form .submit:after {content: ''; position: absolute; width: 10px; height: 10px; border-left: 5px solid #fff; border-top: 2.5px solid transparent; border-bottom: 2.5px solid transparent; left: 70px; top: 19.5px;}
*/
.form-style form span {margin-left: 5px;}
.form-style form div.pass {margin-bottom: 40px;}
.form-style form .input {border-radius: 5px; border: 1px solid #e5d4c2; height: 46px; overflow: hidden; margin-bottom: 20px;}
.form-style form .input .icon {height: 46px; width: 46px; display: inline-block; background-color: #f9ece4; text-align: center;}
.form-style form .input .icon i.fa {font-size: 18px; vertical-align: middle; line-height: 44px; color: #dfc5ae;}
.form-style form .input input {border: none; border-left: 1px solid #e5d4c2; height: 100%; outline: none; padding-left: 16px; float: right; width: calc(100% - 46px);}
.form-style form .input input:focus {border-left: 1px solid #e86740;}
.form-style form .input input:focus .input {border: 1px solid #e86740;}
.form-style form .input input:focus .icon {background-color: #f9ece4;}
.form-style form .input input:focus i.fa {color: #eda58f;}
.form-style a.login_bcg {text-align: center; font-size: 14px; margin-top: -5.5px; width: 100%; display: inline-block; background: #f8f3f0; box-shadow: 0 0 0 83px #f8f3f0;}
.form-style .fb {height: 38px; width: 100%; left: 0; bottom: 0; position: absolute; text-align: center; background-color: #666; color: #fff; font-size: 14px; line-height: 38px; cursor: pointer;}
.form-style .fb i.fa {font-size: 15px; vertical-align: middle;}

.form_content{margin-top: 30px;}
form label{font-weight: normal;}
form fieldset{margin-bottom: 30px;}
fieldset legend{color: #8e8171; font-size: 16px; text-transform: uppercase;}

.block_bottom{background: #f8f3f0; box-shadow: 0 0 0 30px #f8f3f0; margin-top: 20px; display: inline-block; width: 100%;}

/*----- BOOTSTRAP -----*/
.form-control {
	height: 40px;
	border: 1px solid #f7b9aa;
}
.navbar{
	border-radius: 0px;
}

/*----- REGISTRATION -----*/
.register_users{margin-top: 30px; margin-bottom: 30px; text-align: center;}
.register_users img{cursor: pointer;}
.register_student .form-header {
	background: #fbf9fc;
	margin: 0 -15px;
	padding: 40px;
}
.register_student {
	text-align: left;
}
.register_student .form-header img {
	border-radius: 100%;
}
.register_student .form-header .box-title {
	display: inline-block;
	padding-bottom: 10px;
	font-size: 36px;
	border-bottom: 3px solid #8d8171; 
	text-transform: uppercase;
}
.register_student .form-header .media-left {
	padding-right: 30px;
}

/*----- LOGIN ----- */
.client .login > .col-md-4.col-md-offset-1,
.student .login > .col-md-5.col-md-offset-1,
.student .login > .col-md-6.col-md-offset-3{	
	margin-top:80px;
}
.student .login .form-style{padding-bottom: 70px;}
.student .login .roundcon{
	width:120px;
	margin: 30px auto;
}
.student .login .roundcon i.fa{
	background:#e8e8e8;
	border-radius:200px;
	padding:20px; width:120px;
}

/*----- TABLE ----- */
.panel-toolbar{margin: 20px 0;}
.btn-full {color: #aaa; font-size: 20px; padding: 30px; width: 100%;}


/*----- FOOTER -----*/
footer{font:normal 12px/30px arial; }
.footer {
	margin-top: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  /*background-color: #f5f5f5;*/
}

/*----- MEDIA QUERIES -----*/
@media(max-width: 767px){

}