

/*bar blue chart*/
.chart-spent-weekly > g .bar, .chart-spent-monthly > g .bar {
    fill: steelblue;
}

.chart-subject-area > g .bar, .chart-subject-area-heatmap > g .bar {
    fill: orange;
}

/*below 50% - red 51% - 80% - yellow 81% - 100% - green*/
.bar-red {
    fill: red;
}

.bar-yellow {
    fill: #DFC100;
}

.bar-green {
    fill: green;
}


/*.axis--x path {*/
    /*display: none;*/
/*}*/