
	.clr{clear: both;}
	.divide_container{width: 100%; padding-bottom: 10pt;}
	.div_num1{float: left; padding-right: 5pt; }
	.div_num2{float: left; border-top: solid 2pt black; border-left: solid 2pt black; padding-left: 5pt;}
	.div_num1, .div_num2{font-weight: bold; color: #0055BB; font-size: 16pt;}
	.div_num2 .after_char{color: #AAAAAA;}
	.detail_step{text-indent: 40px;}
	.notice{color: red; text-decoration: underline;}
    .blue_text{color: #0055BB;}

    .disp_post, .disp_pre{font-weight: bold; font-size: 16pt;}
    .disp_pre{width:50pt; text-align: right; padding-right: 10pt; display: inline-block;}
    .disp_post{width:110pt; text-align: left; padding-left: 10pt; display: inline-block;}
    .both_line{border-top: solid 2pt black; border-left: solid 2pt black;}
    .upper_line{border-top: solid 2pt black; border-left: solid 2pt white;}
    .no_line{border-top: solid 2pt white; border-left: solid 2pt white;}
    .space{color:white;}
    .under_line{border:0; border-bottom: solid 2px black;}