#step_div b{
    padding: 0 5px;
}

#step_div #questionsm{
    padding-top: 30px;
    padding-bottom: 30px;
}

.answer_area > div#correct_flow > p, .answer_area > div#Answer_correct_flow > p {
    margin-top: 20px;
}

#correct_flow b, #ansCorrectFlow b{
    padding: 0 5px;
}

#step_count3 .inputCheck1{
    margin-right: 10px;
}

b.fract_title_addjust{
    padding-bottom: 10px;
    background: red;
}

#Answer_correct_flow #step_count3 label, #correct_flow #step_count3 label{
    padding: 5px;
}