
.under_line{border:0; border-bottom: solid 2px black;}
.mul_num1, .mul_num2{font-weight: bold; color: #0055BB; font-size: 16pt;}
.carry_num{font-style: italic; font-size: smaller; color: #f00;vertical-align: super;}